{% extends 'base.html.twig' %}


{% block body %}
    <h1>Ajouter une personne à la soirée : {{ soiree.Nom }}</h1>

    <table class="table table-dark">
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Montant</th>
            <th>Part</th>
        </tr>

        {% for p in personne %}
            <tr>
                <td>{{ p.Nom }}</td>
                <td>{{ p.Prenom }}</td>
                <td>{{ p.Montant }}</td>
                <td>{{ p.Part }}</td>
            </tr>
        {% endfor %}
    </table>

    {{ form(formulaire) }}

    <a class="btn btn-danger" href="{{ path("home_soiree") }}"> retour à la liste des soirées</a>

{% endblock %}