{% extends 'base.html.twig' %}


{% block body %}
    <h1>Ajouter une personne à la soirée : {{ soiree.Nom }}</h1>

    <table class="table table-dark">
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Montant</th>
            <th>Part</th>
            <th>Prix à payer</th>
            <th>Prix à recevoir</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>

        {% for p in personne %}
            <tr>
                <td>{{ p.Nom }}</td>
                <td>{{ p.Prenom }}</td>
                <td>{{ p.Montant }}</td>
                <td>{{ p.Part }}</td>
                {% if p.montant >= une_part %}
                    <td></td>
                    <td>{{ p.montant - ( une_part * p.Part) }}</td>
                {% else  %}
                    <td>{{ ( une_part * p.Part) - p.montant }}</td>
                    <td></td>
                {% endif %}
                <td><a class="btn btn-warning" href="{{ path('modifier_personne', {"id":p.id, "idSoiree":soiree.id}) }}" >Modification</a></td>
                <td><a class="btn btn-danger" href="{{ path('supprimer_personne', {"id":p.id, "idSoiree":soiree.id}) }}" >Supprimer</a></td>
            </tr>
        {% endfor %}
    </table>
    <table class="table table-danger">
        <tr>
            <th>Total des montants</th>
            <th>Total des parts</th>
            <th>Le prix d'une part</th>
        </tr>
        <tr>
            <td>{{ total_montant }}</td>
            <td>{{ total_part }}</td>
            <td>{{ une_part }}</td>
        </tr>
    </table>

    {{ form(formulaire) }}

    <a class="btn btn-danger" href="{{ path("home_soiree") }}"> retour à la liste des soirées</a>

{% endblock %}