{% extends 'base.html.twig' %}

{% block title %}Modification d'une personne{% endblock %}

{% block body %}
    <h1>Modification de la personne : {{ personne.Nom}} {{personne.Prenom}}

        Dans la soirée : {{ soiree.Nom }}</h1>

    {{ form(formulaire) }}

    <a class="btn btn-danger" href="{{ path("ajouter_personne", {"idSoiree":soiree.id}) }}"> retour aux détails de la soirée {{ soiree.Nom }}</a>

{% endblock %}